<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>

  </head>

  <body>
    <div class="wrapper">
    <header>
      <ul>
        <li class="left"><a href="#">Twitter Clone</a></li>
        <li class="right"><a href="#">Sign Up</a></li>
        <li class="right"><a href="#">Login</a></li>
        <li class="right"><a href="#">Top Page</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <p>Dive</p>
      <p>Clone Rails Assignment</p>
    </footer>
   </div>
  </body>
</html>
